* {
    box-sizing: border-box;
  }

/* site-wide font size of 10px*/
html {
    font-size: 20px ;
  }
  
body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    background-color: #95bebe;
  }
  header {
    text-align: center;
    letter-spacing: 0.1em;
    color: #629192;
    background-color: #c4e6e6;
    border-radius: 50%;
  }

footer {
    clear: both;
  }
  
header, section, div, nav, footer {
    padding: 20px;
  }

/* header and footer */

footer, nav {
    border-top: 5px solid #ddccba;
    border-bottom: 5px solid #ddccba;
    background-color: #c4e6e6;
  }

#navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
}

#navbar a{
   float: left;
   display: block;
   text-align: center;
   padding: 14px 16px;
   /*color: #f2f2f2;*/
   text-decoration: none;
   font-size: 17px;
   
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.textinfo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: left ;
    background-color: #f8ecdd;
    width: 80%;
    height: 30%;
}
.secondtxtinfo{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: left ;
    background-color: #f8ecdd;
    width: 80%; 
}


  
  
